<.main_layout live_action={@live_action}>
  <div>
    <header class="bg-stone-100 flex justify-between py-5 px-5">
      <h2 class="text-xl subpixel-antialiased">My Plots</h2>
      <aside class="flex gap-x-2 items-center">
        <Heroicons.Outline.user class="h-5 w-5" /> BY
      </aside>
    </header>

    <.my_plots />
    <.create_plot_modal form={@form} />
  </div>
</.main_layout>
